@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <center>
        <div>
            <h1>Upload failed!</h1>
        </div>
    </center>
    <h2>
        Please ensure that the content is less than 75 characters and contains no special characters.
    </h2>
    <div class="form-group">
        @Html.ActionLink("Try Again", "Index")
    </div>
</body>
</html>
