@model IEnumerable<CastafraySoundCatalog.Models.ImageModel>

@{
    ViewBag.Title = "Shuffled Images";
}

<h2>Shuffled Images</h2>

<p>
    <u>@Html.ActionLink("Create New Record", "ImageAdd", "Images")</u>
</p>
<p>
    <u>@Html.ActionLink("Shuffle", "ImageViewAllShuffled", "Images")</u>
</p>
<p>
    <u>@Html.ActionLink("All Images", "ImageViewAll", "Images")</u>
</p>

@{
        var rnd = new Random();
        var randomized = Model.OrderBy(i => rnd.Next());
    }

<center>
    @foreach (var img in randomized)
    {
        <h4>@img.Description</h4>
        <img width="650" height="650" src="~/image/@Url.Content(img.Title)">
        <br />
        <hr />
    }
</center>