@{
    ViewBag.Title = "Content Add";
}

<center>
    <h1>Content Adder</h1>
    <hr />
    @using (Html.BeginForm("ContentAdd", "Content", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input style="color:indianred" type="file" name="file" id="fileInput">
        <input type="text" name="description" id="descriptionInput">
        <input type="submit" id="submitButton" value="Save" />
    }
</center>

<script>
    const submitButton = document.getElementById("submitButton");

    submitButton.addEventListener("click", function (event) {
        const inputElement = document.getElementById("descriptionInput");
        const inputValue = inputElement.value.trim();

        if (inputValue === "") {
            event.preventDefault();
            alert("Please enter a name.");
        }
    });
</script>