@model IEnumerable<CastafraySoundCatalog.Models.VideoModel>
@using CastafraySoundCatalog.Controllers
@using CastafraySoundCatalog.Models

@{
    ViewBag.Title = "All Videos";
}

<h2>All Videos</h2>

<p>
    <u>@Html.ActionLink("Create New Record", "VideoAdd", "Videos")</u>
    |
    <u>@Html.ActionLink("Shuffle", "VideoViewAll", "Videos")</u>
</p>

@{
    var rnd = new Random();
    var randomized = Model.OrderBy(i => rnd.Next());
}

<center>
    @foreach (var vid in randomized)
    {
        <h4>@vid.Description</h4>
        <video width="500" height="400" controls>
            <source src="~/video/@Url.Content(vid.Title)" />
        </video>
        <br />
        <hr />
    }
</center>