@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p><a href="~/Images/ImageAdd">Upload Image</a></p>
    <p><a href="~/Videos/VideoAdd">Upload Video</a></p>
    <p><a href="~/Sounds/SoundAdd">Upload Sound</a></p>
    <p><a href="~/Content/ContentAdd">Upload Content</a></p>
</div>